<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="<%=[
        'width=device-width',
        'maximum-scale=10',
        'minimum-scale=1',
        'initial-scale=1',
    ].join(', ') %>" />
    <meta name="google" value="notranslate">

    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>

    <%=
    htmlWebpackPlugin.options.preconnect
            .map(domain => `<link rel="preconnect" href="${domain}">`)
            .join('')
    %>

    <%=
    htmlWebpackPlugin.files.css
            .map(file => `<link rel="preload" as="style" href="${file}" />`)
            .join('')
    %>

    <%=
    htmlWebpackPlugin.files.js
            .map(file => `<link rel="preload" as="script" href="${file}" />`)
            .join('')
    %>
    <link rel="manifest" href="/static/assets-manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
</head>

<body>
<div id="root">
    <div class="loading"></div>
</div>
</body>

</html>